.login-main-container {
    gap: 1rem;
    width: 100%;
    transition: padding 0.5s ease-in-out;
}

.login-container {
    display: flex ;
    justify-content: center;
    align-items: center;
    align-self: center;
    overflow: hidden;
    align-content: center;
}

.wrapper {
    width: 400px;
    border: black;
    border-radius: 10px;
    border: #ffffff solid;
    border-color: #ece9e9;
    border-width: 1px;
    margin: 20px;
    color: #000;
}

.view {
    border: #ece9e9 solid;
    border-color: #ece9e9;
    margin-top: 10px;
    border-width: 0.5px;
}

.wrapper .label {
    font-size: 8px;
    display: flex;
    justify-content: space-between;
    margin: 10px 36px 0px;
    font-weight: 700;
}

.wrapper h1 {
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    font-weight: 300;
}

.wrapper .input-box {
    position: relative;
    width: 95%;
    height: 50px;
    margin: 10px 15px 1px;
}

.input-box input {
    width: 90%;
    height: 100%;
    border: #ffffff solid;
    border-color: #000000;
    outline: none;
    padding: 10px;
    border-width: 1px;
    border-radius: 5px;
}

.input-box input::placeholder {
    color: #000000;
    font-size: 14px;
}

.logo {
    position: relative;
    align-items: center;
    margin: 10px 10px 10px;
    margin-top: 25px;
}

.wrapper .label {
    color: #000000;
    font-size: 12px;
    align-self: left;
    align-items: left;
    align-content: left;
    justify-content: start;
    position: relative;
}

.wrapper .remember-forgot {
    display: flex;
    color: #6e6e78;
    justify-content: space-between;
    font-size: 12px;
    margin: 15px 35px 15px;
}

.remember-forgot label input {
    accent-color: #6e6e78;
    margin-right: 4px;
}

.remember-forgot a {
    color: #6e6e78;
    text-decoration: underline;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper button {
    width: 85%;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    padding: 12px;
    margin: 0px 35px 5px;
    background: linear-gradient(#007dc1, #0073b2);
    border-color: #004b75 #004b75 #00456a;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15), inset 0 1px 0 0 hsla(0, 0%, 100%, .1);
}

.register-link {
    display: flex;
    justify-content: space-between;
    margin: 15px 35px 15px;
    color: #fff;
    font-size: 12px;
    accent-color: #000;
    text-decoration: none;
}

.register-link a {
    color: #6e6e78;
    /* text-decoration: none; */
}

.register-link a:hover {
    text-decoration: underline;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 10px;
    height: 10px;
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #383636;
    background: #fff;
    margin-top: -16px;
    /* Black */
    border-radius: 50%;
    padding: 10px;
    animation: spinner 1.5s linear infinite;
    vertical-align: center;
    align-items: center;
}

.spinner {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}